.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 25px;
}
.round {
  font-size: 30px;
  height: 32px;
  width: 32px;
  background-color: #2e78bd;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.MRomano {
  grid-column: 2/3;
  font-size: 30px;
  height: 32px;
  width: 32px;
  background-color: #2e78bd;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.warning {
  margin-bottom: 10px;
  color: #04539e;
  text-align: center;
}
.divConvert {
  display: flex;
  justify-content: center;
}
.number {
  border: 1px solid #333;
  border-radius: 3px;
  margin: 10px;
  padding: 6px 10px;
  min-width: 150px;
  text-align: center;
}
.button {
  border: 1px solid #333;
  border-radius: 3px;
  margin: 10px;
  background-color: #cbccce;
  padding: 6px 10px;
  cursor: pointer;
}
.result {
  border: 1px solid #333;
  border-radius: 3px;
  text-align: center;
  min-width: 150px;
  padding: 10px 20px;
  margin-top: 10px;
}
