.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border-radius: 15px;
  font-family: "Times New Roman", Times, serif;
}
h1 {
  font-size: 38px;
  color: #444;
  border-bottom: 1px solid #5c5c5c;
}

.buttom {
  border: 1px solid #333;
  border-radius: 3px;
  margin: 10px;
  background-color: #cbccce;
  padding: 6px 10px;
  cursor: pointer;
}
